<!DOCTYPE html>
<html>
<body>
<head>
    <title>About - Bandar Lampung</title>

    <h2>Tentang Kota Bandar Lampung 🐘</h2>
        <p>
            Bandar Lampung adalah ibu kota dan kota terbesar di provinsi Lampung, Indonesia. 
            Terletak di ujung selatan pulau Sumatra, kota ini merupakan gerbang utama yang menghubungkan Jawa dan Sumatra. 
            Terkenal dengan julukan "Kota Gajah", Bandar Lampung memiliki perpaduan unik antara pesona alam pesisir teluk yang indah 
            dan keramahan budaya Lampung yang kaya.
        </p>
    
    <div class="nav-links">
        <a href="/">Home</a> |
        <a href="/about/">About</a> |
        <a href="/contacts/">Contacts</a>
    </div>

</body>
</html>